# look for an .editorconfig file inside this project
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
# while saving
insert_final_newline = true
max_line_length = 80
# any whitespace character preceding a newline to be trimmed
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
