#react-paginate {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}

#react-paginate .break a {
  cursor: default;
}

form {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 50vw;
  height: 20vh;
  padding: 20px;
}

form .form-group {
  margin: 0;
  flex: 3;
  width: 100%;
  outline: none;
  border: 1px solid #706778;
  border-radius: 0;
}

form .form-group .form-control {
  padding: 10px;
}

form .btn.search:focus {
  background-color: #fefbf3;
}

form .btn.search {
  flex: 1;
  text-align: center;
  color: #ffffff;
  background-color: #706778;
  border: 1px solid #706778;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  margin: 0;
}

form .search:hover {
  background-color: #564f5d;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
