.filter-area {
  display: flex;
  flex-direction: column;
}

.multi-select {
  text-align: center;
  width: 50%;
  margin: 30px auto;
  margin-bottom: 0px;
}

input {
  box-shadow: 0;
  outline: 0;
}
.range-slider {
  width: 300px;
  margin: 0px auto;
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  height: 6em;
}

.range-slider span {
  display: flex;
  justify-content: center;
}

.range-slider svg,
.range-slider input[type='range'] {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: -40px 0;
}
input[type='number'] {
  margin: 0 8px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.6em;
  -moz-appearance: textfield;
  width: 100px;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number']:invalid,
input[type='number']:out-of-range {
  border: 2px solid #ff6347;
}
input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #2497e3;
}
input[type='range']:focus::-ms-fill-lower {
  background: #2497e3;
}
input[type='range']:focus::-ms-fill-upper {
  background: #2497e3;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type='range']::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type='range']::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower,
input[type='range']::-ms-fill-upper {
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type='range']::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
