@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Oswald');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    135deg,
    #00ccff,
    #9933ff 31%,
    #e646b6 52%,
    #fff9aa 77%,
    #00ff99,
    #00ccff
  );
  color: #2f304c;
  font-size: 16px;
  font-family: 'Maven Pro', Arial, sans-serif;
  font-weight: 400;
}
